#home-main {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(auto, 340px));
  gap: 32px;
  justify-content: center;
}

p {
  margin: 6px 0 6px 0;
}

.main-header-message {
  width: 100%;
  max-width: 340px;
  margin-bottom: 60px;
}
